.layout{
    margin: 0 100px;

}

.header{
    background-color: #161c51;
    padding: 10px;
    border-bottom-right-radius:  25px; ;
    border-bottom-left-radius: 25px;

}

.logo{
    font-size: 30px;
    color: rgba(255,255,255,0.716);
    margin:0 !important;
    cursor: pointer;
}

.username{
    font-size: 22px;
    color: rgb(255, 255, 255,0.750);
}

.content{
    /* height: 100%; */
    box-shadow: 0 0 3px grey;
    margin-top: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 15px;
}

.spinner{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
}

.ant-spin-dot-item{
    background-color: grey !important;
}

@media screen and (max-width:700px){
    .layout{
        margin: 0 15px;
    }
}