.registertxt{
    color: #253053;
    margin-top: 20px;
    }
    
    
    .btn{
    background-color: #253053;
    color: white;
    border: none;
    border-radius: 10px;
    }
    
    .container p {
        font-size: 20px;
    }
    
    .lottie{
    
        height: 600px;
    }
    
    .container_register{
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: center;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    
    }
    
    .container_register input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(106, 105, 105, 0.5);
        color: #253053;
    }
    
    label{
        color: #253053;
    }

    .input-form
    {
        flex-direction: column;
    }

    .form-button
    {
        margin-top: 10px;
        width: 100px;
        border-radius: 8px;
    }

    .form-class
    {
        display: flex;
        flex-direction: column;
    }
    .form-right
    {
        padding-left: 100px;
        // margin-left: 20px;
    }
    