
.register{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}
.lottie{
    height: 400px;

}

.register input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255,0.6);
    color: rgb(255, 255, 255,0.7)
    
}

input:focus{
    outline: none !important;
    box-shadow: none !important;

}

label, a{
    color: rgb(255, 255, 255,0.7) !important
}

.register h1{
    font-size: 25px;
    color: white;
}